*{
    box-sizing: border-box;
}

#titolo{
    color: salmon;
    text-align: center;
}

#sottotitolo{
    color: blue;
}

.business-card-image{
    float: left;
}

.clear{
    clear: both;
}

.business-card{
    background-color: black;
}

h2,h3{
    color: white;
}